@model IEnumerable<TravelingDiaries.Models.Place>

@{
    ViewData["Title"] = "CM";
}


<partial name="_Notifications"></partial>
<table class="table table-hover" style=" color:white;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
      
            <th>
                @Html.DisplayNameFor(model => model.PackagePrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.PackagePrice)
            </td>
          <td>
            <button class="btn btn-warning">  <a style="text-decoration:none;color:white;" asp-action="EditPlace" asp-route-id="@item.PlaceID">Edit</a></button>
          </td>
          
              <td>
                <button class="btn btn-danger">  <a style="text-decoration:none;color:white;" asp-action="Delete" asp-route-id="@item.PlaceID" asp-controller="ContentManagement">Delete</a></button>
            </td>
        </tr>
}
    </tbody>
</table>
