@model TravelingDiaries.Models.SearchFlight

@{
    var City = (string[])ViewData["city"];
}
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
body{
    /*background:white;*/
    color:black;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */



</style>
</head>

<header class="w3-display-container w3-content w3-hide-small" style="max-width:1500px;">
  <img class="w3-image" src="https://www.w3schools.com/w3images/london2.jpg" alt="London" width="1500" height="700">
   <div class="w3-display-middle" style="width:70%;border: 1px solid black">
    <div class="w3-bar w3-black">
      <button class="w3-bar-item w3-button tablink" onclick="openLink(event, 'Flight');"><i class="fa fa-plane w3-margin-right"></i>Flight</button>
      </div>

        <form asp-action="SearchFlight" style="background:white">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="display:inline-block;margin:40px">
                <label asp-for="From" class="control-label"></label>

                <select asp-for="From" class="form-control w3-input w3-border">
                <option selected></option>
                @foreach(var city in City ){
                <option value=@city>@city</option>
                }
              

            </select>
          
            </div>
            <div class="form-group" style="display:inline-block;margin:40px">
                <label asp-for="To" class="control-label"></label>
                
                <select asp-for="To" class="form-control w3-input w3-border">
                <option selected></option>
                @foreach(var city in City ){
                <option value=@city>@city</option>
                }

            </select>

       
            </div>
            <div class="form-group" style="display:inline-block;margin:40px">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control w3-input w3-border" />
            
            </div>
            <div class="form-group" style="display:inline-block;margin:40px">
                <input type="submit" value="Submit" class="w3-button w3-dark-grey" />
            </div>
        </form>
    </div>
</header>


<br />


@if (ViewBag.Number > 0  && ViewBag.First == 0)
{


    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Flight Id</th>
                <th scope="col">Flight Name</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Time</th>
                <th scope="col">Booking</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var flight in (IEnumerable<Flight>)ViewData["Flights"])
            {
                <tr>
                    <td>@flight.FlightId</td>
                    <td>@flight.FlightName</td>
                    <td>@flight.From</td>
                    <td>@flight.To</td>
                    <td>@flight.Time</td>
                    
                    <td><a asp-controller="FlightReservation" asp-action="BookFlight" asp-route-id="@flight.FlightId"><button class="button button1">Book Now</button></a></td>
                </tr>
            }
        </tbody>
    </table>
}


@if(ViewBag.Number == 0  && ViewBag.First == 0 && ViewBag.Same == 0 )
{
    <h1>Sorry! No result found</h1>
}


@if(ViewBag.Same == 1 && ViewBag.First !=1)
{
    <h1>Invalid Entries</h1>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
