@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
   body{
       color:black;
               width:100%;
    min-height:100vh;
    padding:1%;
    background-image:url(https://images.pexels.com/photos/5380659/pexels-photo-5380659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position:center;
    background-size:cover;
      
    }
    nav{
    display:none !important;
    }
</style>
<br></br><br></br><br></br><br></br>
<h1 style="color:white;text-align:center; "> Login To Travelling Diaries</h1>
<br></br>
<div class="row">
    <div class="col-md-4" style="margin-left:370px;">
        <section>
            <form id="account" method="post">
             
      
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br></br>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label style="color:white;" asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <br>
                   <div>
                    <button  type="submit" class="w-100 btn btn-lg btn-danger"><a asp-action="Index" asp-controller="Home" style="text-decoration:none;color:white;">Home </a></button>
                </div>
         
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
       @* <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                                about setting up this ASP.NET application to support logging in via external services</a>.
                            </p>
                        </div>
                }
                else
                {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                                </p>
                            </div>
                        </form>
                }
            }
        </section>*@
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
