@*@model TripAdvisor.Models.Hotel

@{
    ViewData["Title"] = "HotelDetail";
}

<style>
        body{
             background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYqKOT9rNEdBJ6_FeFyBEeOX0G769FERYXPZEOTKrVbw&s");
 background-color: #cccccc;  
        }
    </style>

    <div>
  <h2>@Model.Name</h2>
  <div class="thumbnail">
    <img alt="@Model.Name"  width = "800px" height = "500px" src="@Model.ImageUrl">
    <div class="caption-full">
        <h3 class="pull-right">Rs.@Model.Price</h3>
        
        <h4>@Model.ShortDescription</h4>
        <p>@Model.Description</p>


   <button type="button" class="btn btn-dark"><a  style="text-decoration:none; color:white"; asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-id=@ViewData["ID"]>Book Now</a></button>

   <button type="button" class="btn btn-dark">   <a style="text-decoration:none; color:white;"  asp-action="Index" asp-controller="Home">Back to List</a></button>
</div>

  *@